html,body{
	margin:0;
	height:100%;
	background-color: #e4e0e0;
}
main{
	width:100%;
	height:700px;
	position: relative;
}
.bitcoin-wrapper{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 7em;
    left: 4em;
    cursor: pointer;
}
.bitcoin-wrapper img{
    width:	100%;
    height: 100%;
}
.session-info-wrapper{
	width: 800px;
	height: 500px;
	position: absolute;
	right: 4em;
	top: 4.5em;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 0px 15px 1px #bbaeae;
}
.upgrades-wrapper{
	width: 90%;
	height: 500px;
	position: relative;
	left: 4.5em;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px #bbaeae;
	background-color: white;
}
/*session info*/
label{
	font-family: 'Berkshire Swash', cursive;
}
.click-count{
    width: 15em;
    height: 150px;
    text-align: center;
    color:grey;
    position: absolute;
    display: inline-block;
    left: 2em;
    bottom: 11em;
    border-top: none;
}
.click-count label{
	font-size: 2.7em;
	border-bottom: 1px solid #f1c40f;
	color: #f39c12;
}
.click-count a{
	font-size:3em;
	font-family: 'Bungee', cursive;
	display: inline-block;
	margin-top: 0.5em;
	color: #6b5a3f;
}
.current-cash{
	width: 100%;
	height: 124px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-top: 2em;
	border-bottom: 1px solid #f39c12;
}
.current-cash label{
	font-size: 4.3em;
	color: #f39c12;
	font-family: 'Bungee', cursive;
}
.current-cash a{
	font-size: 4em;
	font-family: 'Bungee', cursive;
	display: inline-block;
	color: #086b08;
}
.click-profit{
    width: 15em;
    height: 150px;
    text-align: center;
    color:grey;
    position: absolute;
    display: inline-block;
    left: 2em;
    bottom: 0em;
    border-top: none;
}
.click-profit label{
	font-size: 2em;
	border-bottom: 1px solid #f1c40f;
	color: #f39c12;
}
.click-profit a{
	font-size: 2EM;
	font-family: 'Bungee', cursive;
	display: inline-block;
	margin-top: 0.5em;
	color: #6b5a3f;
}
/*end session info*/